{{define "dao/[model].go"}}package dao

import "database/sql"

type (
	{{ .ModalName.UpperCamelCase }}PO struct {
        {{range $i,$v := .Columns}}
            {{ $v.ColumnName.UpperCamelCase }} {{ $v.Type }} `db:"{{ $v.ColumnName.String }}"`
        {{end}}
	}
)

const (
	{{range $i,$v := .Columns}}
        {{ $v.ColumnName.UpperCamelCase }}Column = "{{ $v.ColumnName.String }}"
    {{end}}
)

func (po {{.ModalName.UpperCamelCase}}PO) TableName() string {
	return "{{.TableName}}"
}

{{end}}
